{% extends "books/base.html" %}
{% block body %}
<button style="margin:25px" onclick="window.open('{% url "register" %}')">Signup</button>
{% for book in book_list %}
<div class="row">
    <div class="col-md-3 offset-md-2">
        <img class="card" height="150px" src="{{book.book_cover}}">
    </div>
    <div class="col-md-4">
        <h3> {{book.book_name}}</h3>
    </div>
    <div class="col-md-2">
        <button style="margin-bottom:15px" onclick="window.open('{% url 'details' book.id %}', '_blank')" > details</button>
    </div>
</div>

{% endfor %}
{% endblock body %}