{% extends "books/base.html" %}
{% block body %}
{% if user.is_authenticated %}
    <a href="{%url "profile" %}" style="padding:10px">{{user.username}}</a>
    <button style="margin:25px" onclick="window.location.href='{% url "logout" %}'">Logout</button>
{% else %}
    <button style="margin:25px" onclick="window.location.href='{% url "register" %}'">Signup</button>
    <p>if you already have an acount:<button style="margin:25px" onclick="window.location.href='{% url "login" %}'">Login</button> <p/>
{% endif %}
{% for book in book_list %}
<div class="row">
    <div class="col-md-3 offset-md-2">
        <img class="card" height="150px" src="{{book.book_cover}}">
    </div>
    <div class="col-md-4">
        <h3> {{book.book_name}}</h3>
        <h6> {{book.user_name}}</h6>
    </div>
    <div class="col-md-2">
        <button style="margin-bottom:15px" onclick="window.location.href='{% url 'details' book.id %}'" > details</button>
    </div>
</div>
{% endfor %}
<div class="pagination">
    {% if book_list.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ book_list.previous_page_number }}">Prev</a>
    {% endif %}

    Page: {{ book_list.number }} of {{ book_list.paginator.num_pages }}

    {% if book_list.has_next %}
        <a href="?page={{ book_list.next_page_number }}">Next</a>
        <a href="?page={{ book_list.paginator.num_pages }}">Last</a>
    {% endif %}
</div> 
{% endblock body %}